# Eclipse
.classpath
.project
.settings/

# Intellij
atlassian-ide-plugin.xml
.idea/
*.iml
*.iws
*.ipr

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#  Linux 
##################
*~